*{
    font-family: courier new,sans-serif;
    padding: 0;
    margin: 0;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: #ededed;
}
p{
    font-size: 1em;
    line-height: 1.5rem;
}
header{
    width: 100%;
    padding: 20px 0px;
    background: url(/img/_MG_0018.jpg) #4f4f4f;
    box-shadow: 0px 0px 15px #333;
    border-bottom: 2px solid #fff;
    height: 120px;
}
header h1{
    color: #fff;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
}
section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100px;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow:  0px 0px 10px #fff;
    background-color: #fff;
}

section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}
.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 10px #777;
    border-radius: 50px;
    margin-top: -80PX;
    
}
.pres{
    border-bottom: 2px dashed #ccc;
}